html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* component styles */
@import 'javascript/build/build.css';
/* absolut url srcs */
/* wrap dimmension */
/* Layout */
/* MOBILE Layout */
/* commons */
a.big-button,
a.small-button {
  display: block;
  color: #fff;
  background-color: #505050;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-right: 60px;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}
a.big-button:hover,
a.small-button:hover {
  background-color: #9d4900;
  color: #ff8a00;
}
a.big-button:after,
a.small-button:after {
  display: block;
  width: 24px;
  height: 26px;
  background-image: url("images/sprite.png");
  background-repeat: no-repeat;
  background-position: -100px -108px;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -12px;
  content: " ";
  z-index: 100;
}
a.big-button {
  padding: 0px 70px 0px 20px;
  height: 90px;
  display: inline-block;
  line-height: 90px;
  font-size: 16px;
  font-weight: bold;
}
a.big-button:before {
  display: block;
  content: " ";
  width: 50px;
  height: 90px;
  position: absolute;
  background-image: url("images/dash-bg-dark.png");
  background-repeat: repeat;
  top: 0px;
  right: 0px;
  z-index: 10;
}
a.small-button {
  color: #ff8a00;
  padding: 0px 45px 0px 20px;
  height: 40px;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  text-transform: none;
}
a.small-button:after {
  width: 12px;
  height: 12px;
  background-position: -14px -119px;
  position: relative;
  display: inline-block;
  top: 2px;
  right: -10px;
}
a.menu-button {
  height: 50px;
}
a.menu-button img {
  top: 2px;
  position: relative;
}
a.menu-button span {
  text-transform: none;
  display: block;
  height: 50px;
  line-height: 48px;
  font-size: 14px;
  line-height: 50px;
  background-color: #505050;
  color: #ff8a00;
  padding-left: 20px;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
  position: relative;
}
a.menu-button span:before,
a.menu-button span:after {
  content: " ";
  width: 10px;
  position: absolute;
  display: block;
  height: 10px;
  top: -10px;
  left: 20px;
  background-position: -190px -20px;
  background-image: url("images/sprite.png");
}
a.menu-button span:after {
  top: -10px;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  -ms-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  background-position: -200px -20px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
a.menu-button:hover span {
  background-color: #9d4900;
}
a.menu-button:hover span:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
input[type="submit"].button-light,
a.link-button-light {
  font: normal 27px 'Noto Sans', 'Quicksand', "Arial", sans-serif;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.5);
  color: $gray;
  margin: 10px auto 0;
  height: 70px;
  line-height: 70px;
  width: 280px;
  text-align: center;
  display: block;
  border: none;
  text-decoration: none;
  -webkit-box-shadow: -6px 6px 0 rgba(0,0,0,0.25);
  box-shadow: -6px 6px 0 rgba(0,0,0,0.25);
  -webkit-appearance: none;
}
input[type="submit"].button-light:hover,
a.link-button-light:hover {
  background-color: rgba(255,255,255,0.3);
}
/* blocks */
#footer {
  color: #7e7b72;
  font-size: 14px;
  line-height: 18px;
}
#footer p {
  font-size: 14px;
  color: #7e7b72;
  margin-bottom: 10px;
}
#footer #sitemap {
  float: left;
  width: 580px;
}
#footer #sitemap ul {
  height: 100px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
#footer #sitemap ul li a {
  color: #7e7b72;
  text-decoration: underline;
}
#footer #sitemap ul li a:hover {
  color: #fd8a00;
}
#footer #contact {
  float: left;
  width: 380px;
}
#footer #contact div.input-double,
#footer #contact div.submit,
#footer #contact div.input {
  text-align: right;
  position: relative;
}
#footer #contact div.input-double label {
  display: inline-block;
  width: 41px;
  text-align: right;
}
#footer #contact div.input-double input {
  margin-left: 0px;
  display: inline-block;
  width: 40px;
}
#footer #contact div.input-double span.username label {
  width: 91px;
}
#footer #contact div.input-double span.username input {
  margin-left: 4px;
  width: 165px;
}
#footer #contact div.submit input[type="submit"] {
  border: none;
  background-color: #fff;
  color: #232020;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 15px;
  cursor: pointer;
}
#footer #contact div.submit span {
  background: url("images/sprite.png") no-repeat -39px -118px;
  display: block;
  width: 13px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 4px;
}
#footer #contact div.wpcf7 img.ajax-loader {
  position: absolute;
  left: 270px;
  top: 3px;
}
#footer #contact input[type="email"],
#footer #contact input[type="text"] {
  width: 260px;
  height: 39px;
  margin: 1px 0 0;
  background-color: #a6afad;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 5px;
}
#footer #contact input[type="email"],
#footer #contact input[type="text"] {
  outline-color: #ff8b00;
}
#footer .heading {
  display: inline-block !important;
  display: block;
  background-color: #fd8a00;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
#footer .heading .leg {
  background: url("images/sprite.png") no-repeat -218px -10px;
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
  bottom: 0px;
  left: 30px;
}
#site-info {
  background: #000;
  bottom: 0;
  color: #a4a4a4;
  height: 45px;
  padding-top: 8px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 200;
}
#site-info h3 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  float: left;
  width: 50%;
  line-height: 30px;
}
#site-info h3 span {
  background: url("images/sprite.png") no-repeat -229px -78px;
  display: block;
  float: left;
  width: 26px;
  height: 29px;
  margin-right: 10px;
}
#site-info a {
  color: #fff;
  text-decoration: none;
}
#site-info a:hover {
  color: #ff8b00;
}
#site-info ul {
  float: right;
  width: 345px;
  margin-top: 5px;
}
#site-info ul li {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #b3b3b3;
  font-weight: normal;
  font-size: 12px;
}
#site-info ul li:first-child {
  border-left: none;
}
.bg3 {
  background: #fff url("images/dash-bg.png") repeat;
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: 0;
  bottom: 270px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("http://ideasecopublicidad.com.ar/css/boxsizing.htc");
  outline: none;
}
* html {
  height: 100px;
}
body {
  font-family: 'Noto Sans', 'Quicksand', "Arial", sans-serif;
  background-color: #000;
  color: #565327;
  overflow: hidden;
  height: 100%;
}
body a {
  color: #d0d0d0;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}
body h1 {
  color: #565327;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  width: 80%;
}
body p,
body label {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Noto Sans', sans-serif;
  width: 80%;
}
body b,
body i {
  font-weight: bold;
}
body i {
  color: #008000;
}
body div.back {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
body div.back img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 50%;
  margin: auto;
}
body a.ingresar {
  height: 300px;
  width: 204px;
  background-image: url("images/sprite3.png");
  position: absolute;
  top: 50%;
  margin-top: -150px;
  margin-left: -102px;
  left: 50%;
}
body ul.menu {
  width: 280px;
  position: absolute;
  top: 20px;
  right: 60%;
  z-index: 10;
}
body ul.menu li {
  background-image: url("images/menu-sprite.png");
  text-indent: -9999px;
}
body ul.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}
body ul.menu li.membrete {
  height: 310px;
}
body ul.menu li.inicio {
  height: 147px;
  background-position: 0 -310px;
}
body ul.menu li.inicio.current,
body ul.menu li.inicio:hover {
  background-position: 279px -310px;
}
body ul.menu li.que {
  height: 65px;
  background-position: 0 -456px;
}
body ul.menu li.que.current,
body ul.menu li.que:hover {
  background-position: 279px -456px;
}
body ul.menu li.como {
  height: 51px;
  background-position: 0 -521px;
}
body ul.menu li.como.current,
body ul.menu li.como:hover {
  background-position: 279px -521px;
}
body ul.menu li.contact {
  background-position: 0 -571px;
  height: 81px;
}
body ul.menu li.contact.current,
body ul.menu li.contact:hover {
  background-position: 279px -573px;
}
body ul.menu li.tips {
  background-position: 0 -652px;
  height: 85px;
}
body ul.menu li.tips.current,
body ul.menu li.tips:hover {
  background-position: 279px -652px;
}
body .fb_edge_widget_with_comment {
  position: absolute;
  bottom: -48px;
  left: 10px;
}
body .box .antiscroll-inner,
body .box {
  height: 100%;
  width: 100%;
}
body div.container {
  background-image: url("images/bg-pix.png");
  background-repeat: repeat;
  position: absolute;
  left: 50.5%;
  top: 10%;
  overflow: hidden;
  height: 80%;
  width: 30%;
  min-width: 410px;
}
body div.container div.page {
  position: relative;
  height: 100%;
}
body div.container div.page ul {
  position: relative;
  padding: 7% 0;
}
body div.container div.page ul h1 {
  margin: 0px auto;
}
body div.container div.page ul.enhanced {
  width: 100%;
}
body div.container div.page ul.enhanced h1 {
  width: 66%;
  margin: 2% auto;
}
body div.container div.page ul.enhanced:before {
  height: 37px;
  width: 36px;
  background-image: url("images/sprite.png");
  content: " ";
  position: absolute;
  left: 6%;
}
body div.container div.page ul:first-child {
  padding: 8% 0px 1px;
}
body div.container div.page ul li {
  position: relative;
  width: 76%;
  margin: 0 auto;
}
body div.container div.page ul p {
  width: 100%;
  margin: 5% auto;
  text-align: center;
}
body div.container div.page ul p.nom {
  margin: 0px auto 25px;
}
body div.container div.page ul p.enhanced {
  width: 70%;
  border: 2px solid #96ba20;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 14px;
}
body div.container div.page.inicio ul li.inicio {
  background-image: url("images/inicio.png");
  height: 460px;
  width: 300px;
  margin: 30px auto;
}
body div.container div.page.inicio ul p.enhanced {
  font-size: 16px;
}
body div.container div.page.quees h1 {
  text-align: center;
}
body div.container div.page.como ul li {
  padding: 20px 0px;
  height: 60px;
  line-height: 22px;
}
body div.container div.page.como ul li:before {
  height: 18px;
  width: 18px;
  background-image: url("images/sprite.png");
  content: " ";
  position: absolute;
  top: 24px;
  left: -34px;
  background-position: 0 -38px;
}
body div.container div.page.como ul li p {
  margin: 0px;
  line-height: auto;
  text-align: left;
}
body div.container div.page.como ul p.enhanced {
  font-weight: bold;
}
body div.container div.page.tips {
  margin-top: 0px;
  top: 0px;
}
body div.container div.page.tips ul h1 {
  width: 330px;
}
body div.container div.page.tips ul li.text {
  width: 430px;
}
body div.container div.page.tips ul li.text p {
  background-color: #faf0d4;
  width: 50%;
  position: absolute;
  top: 20px;
  left: -20px;
  border: 2px solid #96ba20;
  padding: 10px;
  margin: 0px;
}
body div.container div.page.tips ul li.text.p1 {
  background-image: url("images/ecotips11.png");
  height: 538px;
}
body div.container div.page.tips ul li.text.p2 {
  background-image: url("images/ecotips12.png");
  height: 660px;
}
body div.container div.page.tips ul li.text.p3 {
  background-image: url("images/ecotips13.png");
  height: 574px;
}
body div.container div.page.tips ul li.text.p3 div.botas {
  background-image: url("images/sprite2.png");
  width: 89px;
  height: 144px;
  position: absolute;
  right: -25px;
  top: 100px;
}
body div.container div.page.tips ul li.text.p4 {
  background-image: url("images/ecotips14.png");
  height: 636px;
}
body div.container div.page.tips ul li.text.p5 {
  background-image: url("images/ecotips15.png");
  height: 430px;
}
body div.container div.page.tips ul p.enhanced {
  width: 72%;
  font-weight: 700;
  margin: 60px auto;
  position: relative;
  padding-bottom: 60px;
}
body div.container div.page.tips ul p.enhanced:after {
  height: 37px;
  width: 36px;
  background-image: url("images/sprite.png");
  content: " ";
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -16px;
}
body div.container div.page.tips ul.enhanced:before {
  background-position: 0px -38px;
  height: 18px;
  width: 18px;
}
body div.container div.page.tips ul.enhanced p {
  margin: 0 auto;
  text-align: left;
}
body div.container div.page.contact ul {
  padding-bottom: 1%;
}
body div.container div.page.contact ul p.thanks {
  padding: 200px 0;
}
body div.container div.page.contact ul h1 {
  padding: 2% 0 1%;
}
body div.container div.page.contact ul form {
  font-size: 12px;
  padding: 12px 0px;
  width: 80%;
  margin: 0px auto;
}
body div.container div.page.contact ul form p {
  line-height: 16px;
  text-align: left;
  margin: 0px;
  width: 100%;
}
body div.container div.page.contact ul form p label {
  display: block;
}
body div.container div.page.contact ul form p input,
body div.container div.page.contact ul form p textarea {
  border: 0 none;
  margin: 0px auto 2.75%;
  width: 100%;
  height: 20px;
}
body div.container div.page.contact ul form p textarea {
  height: 149px;
}
body div.container div.page.contact ul form input[type=submit] {
  font-weight: bold;
  font-size: 20px;
  color: #565327;
  display: block;
  float: right;
  font-size: 30px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding: 0px;
  font-family: 'Fjalla One', sans-serif;
}
body div.container div.page.contact ul.links {
  padding: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
body div.container div.page.contact ul.links .fb_edge_widget_with_comment {
  bottom: auto;
  top: -55px;
  left: 50px;
}
body div.container div.page.contact ul.links a {
  font-weight: bold;
  font-size: 20px;
  color: #565327;
  display: block;
  line-height: 25px;
}
body div.container div.page.contact ul.links:after {
  content: " ";
  background-image: url("images/sprite.png");
  height: 59px;
  width: 80px;
  position: absolute;
  bottom: 30px;
  left: 50px;
  background-position: -36px 0px;
}
body div.container div.page.contact div.footer {
  background-image: url("images/contact-back.png");
  height: 46px;
}
@media only screen and (max-height : 800px) {
  body h1 {
    font-size: 12px;
  }
  body p,
  body label {
    font-size: 12px;
    line-height: 16px;
  }
  body div.container div.page ul ul li.inicio,
  body div.container div.page.inicio ul li.inicio {
    background-image: url("images/inicio2.png");
    height: 370px;
    width: 240px;
    margin: 10px auto;
  }
  body div.container div.page.como ul li {
    height: 45px;
    width: 260px;
  }
  body div.container div.page.como ul li:before {
    left: -25px;
  }
  body div.container div.page.tips ul li.text {
    width: 310px;
  }
  body div.container div.page.tips ul li.text.p1 {
    background-image: url("images/ecotips21.png");
    height: 388px;
  }
  body div.container div.page.tips ul li.text.p2 {
    background-image: url("images/ecotips22.png");
    height: 476px;
  }
  body div.container div.page.tips ul li.text.p3 {
    background-image: url("images/ecotips23.png");
    height: 413px;
  }
  body div.container div.page.tips ul li.text.p3 div.botas {
    top: 100px;
    right: -25px;
  }
  body div.container div.page.tips ul li.text.p4 {
    background-image: url("images/ecotips24.png");
    height: 458px;
  }
  body div.container div.page.tips ul li.text.p5 {
    background-image: url("images/ecotips25.png");
    height: 310px;
  }
  body div.container div.page.contact ul h1 {
    width: 80%;
    padding: 20px 0 0;
  }
  body div.container div.page.contact ul form p input,
  body div.container div.page.contact ul form p textarea {
    margin: 0px auto 1%;
  }
  body div.container div.page.contact ul form p .field-container input[type=text],
  body div.container div.page.contact ul form p .field-container input[type=email] {
    border: 0 none;
    margin: 0px auto 1%;
  }
  body div.container div.page.contact ul form p textarea.consulta {
    height: 130px;
  }
  body div.container div.page.contact ul form p a.enviar {
    font-size: 24px;
  }
  body div.container div.page.contact ul.links .fb_edge_widget_with_comment {
    bottom: auto;
    top: -30px;
    left: 10px;
  }
  body div.container div.page.contact ul.links a {
    font-size: 16px;
    line-height: 23px;
    margin-left: 106px;
  }
  body div.container div.page.contact ul.links a.mail {
    margin-bottom: 20px;
  }
  body div.container div.page.contact ul.links:after {
    left: 15px;
    bottom: 50px;
  }
  body ul.menu {
    top: 10px;
    width: 220.00000000471428px;
  }
  body ul.menu li {
    background-image: url("images/menu-sprite2.png");
  }
  body ul.menu li.membrete {
    height: 243.57142857664795px;
  }
  body ul.menu li.inicio {
    height: 113.92857143101274px;
    background-position: 0px -245px;
  }
  body ul.menu li.inicio.current,
  body ul.menu li.inicio:hover {
    background-position: 219px -245px;
  }
  body ul.menu li.que {
    height: 51.071428572522954px;
    background-position: 0 -358px;
  }
  body ul.menu li.que.current,
  body ul.menu li.que:hover {
    background-position: 219px -358px;
  }
  body ul.menu li.como {
    height: 40.07142857228724px;
    background-position: 0 -410px;
  }
  body ul.menu li.como.current,
  body ul.menu li.como:hover {
    background-position: 219px -410px;
  }
  body ul.menu li.contact {
    background-position: 0 -451px;
    height: 63.64285714422091px;
  }
  body ul.menu li.contact.current,
  body ul.menu li.contact:hover {
    background-position: 219px -451px;
  }
  body ul.menu li.tips {
    background-position: 0 -512px;
    height: 66.78571428714541px;
  }
  body ul.menu li.tips.current,
  body ul.menu li.tips:hover {
    background-position: 219px -512px;
  }
}
