- var title = 'Ideas ECO';
- var url = 'http://url.raiz.del.proyecto/';
doctype 5
html(lang="en")
  head
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans|Quicksand|Fjalla+One", rel="stylesheet", type="text/css")
    link(href="css/main.css", rel="stylesheet", media="screen")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0")
    meta(property="og:title", content="Ideas ECO")
   link(rel="shorcut icon", href="favicon.ico")

body
  div.back
    img(src="images/background.jpg", alt="ideas eco")
  ul.menu
    li.membrete
    li.inicio
      a(href="newindex.html") INICIO
    li.que
      a(href="quees.html") QUE ES ideas ECO
    li.como.current
      a(href="como.html") COMO HACEMOS?
    li.contact
      a(href="contacto.html") CONTACTO
    li.tips
      a(href="tips.html") ECO TIPS

  div.container
    div.page.como
      ul.enhanced
        h1 Tiraje, distribuci&oacute;n y log&iacute;stica.
        li 
          p Edici&oacute;n Quincenal.
        li 
          p Tiraje de 30.000 unidades.
        li 
          p 
            b Fecha de cierre 
            | de cada edici&oacute;n: 30 y 15 de cada mes.
        li 
          p
            | La 
            b publicaci&oacute;n 
            | se realiza despu&eacute;s de 15
            | d&iacute;as de cierre del edici&oacute;n.
        li 
          p La 
            b distribuci&oacute;n 
            | se realiza 16 y 17, 1 y 2 de cada mes.
        li 
          p Los ejemplares a distribuir por punto de reparto a convenir.
      ul
          p.enhanced
            | Realizamos un tiraje de 30.000 ejemplares llega a cada hogar
            | a un promedio de 4 peronas considerando que su anuncio
            | es visto por 120.000 personas.
