- var title = 'Ideas ECO';
- var url = 'http://url.raiz.del.proyecto/';
doctype 5
html(lang="en")
  head
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans|Quicksand|Fjalla+One", rel="stylesheet", type="text/css")
    link(href="css/main.css", rel="stylesheet", media="screen")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0")
    meta(property="og:title", content="Ideas ECO")
    link(rel="shorcut icon", href="favicon.ico")
    link(href="antiscroll.css", rel="stylesheet")
    script(src="deps/jquery.js")
    script(src="deps/jquery-mousewheel.js")
    script(src="antiscroll.js")
    script
      $(function() {
        $('.antiscroll-wrap').antiscroll();
      });

body
  div#fb-root
  script
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=623279617700062";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  div.back
    img(src="images/background.jpg", alt="ideas eco")
  ul.menu
    li.membrete
    li.inicio
      a(href="newindex.html") INICIO
    li.que
      a(href="quees.html") QUE ES ideas ECO
    li.como.current
      a(href="como.html") COMO HACEMOS?
    li.contact
      a(href="contacto.html") CONTACTO
    li.tips
      a(href="tips.html") ECO TIPS

    <div class="fb-like" data-href="https://www.facebook.com/pages/Ideas-Eco-Publicidad/155866821248197" data-send="false" data-layout="button_count" data-width="10" data-show-faces="true" data-font="arial"></div>

  div.container.box-wrap.antiscroll-wrap
    div.box
      div.page.como.antiscroll-inner
        ul.enhanced
          h1 Tiraje, distribuci&oacute;n y log&iacute;stica.
          li 
            p Edici&oacute;n Quincenal.
          li 
            p Tiraje de 30.000 unidades.
          li 
            p 
              b Fecha de cierre 
              | de cada edici&oacute;n: 30 y 15 de cada mes.
          li 
            p
              | La 
              b publicaci&oacute;n 
              | se realiza despu&eacute;s de 15
              | d&iacute;as de cierre del edici&oacute;n.
          li 
            p La 
              b distribuci&oacute;n 
              | se realiza 16 y 17, 1 y 2 de cada mes.
          li 
            p Los ejemplares a distribuir por punto de reparto a convenir.
        ul
            p.enhanced
              | Realizamos un tiraje de 30.000 ejemplares llega a cada hogar
              | a un promedio de 4 peronas considerando que su anuncio
              | es visto por 120.000 personas.
