- var title = 'Ideas ECO';
- var url = 'http://url.raiz.del.proyecto/';
doctype 5
html(lang="en")
  head
    link(href="css/main.css", rel="stylesheet", media="screen")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0")
    meta(property="og:title", content="Ideas ECO")
   link(rel="shorcut icon", href="favicon.ico")

body
  div.back
    img(src="images/background.jpg", alt="ideas eco")
  ul.menu
    li.membrete
    li.inicio
      a(href="newindex.html") INICIO
    li.que
      a(href="quees.html") QUE ES ideas ECO
    li.como.current
      a(href="como.html") COMO HACEMOS?
    li.contact
      a(href="contacto.html") CONTACTO
    li.tips
      a(href="tips.html") ECO TIPS

  div.container
    div.page.como
      h1 IDEAS ECO como hacemos

