doctype 5
html(lang="en")
  include includes/head.jade
body
  div#fb-root
  script(type='text/javascript').
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=623279617700062";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  div.back
    img(src="images/background.jpg", alt="ideas eco")
  ul.menu
    li.membrete
    li.inicio
      a(href="inicio.html") INICIO
    li.que
      a(href="quees.html") QUE ES ideas ECO
    li.como
      a(href="como.html") COMO HACEMOS?
    li.contact.current
      a(href="contacto.html") CONTACTO
    li.tips
      a(href="tips.html") ECO TIPS

  div.container
    div.box
      div.page.contact
        ul
          h1 Por cualquier consulta, no dudes en comunicarte con nosotros
          <form method="POST" name="contactform" action="contact-form-handler.php"> 
          <p>
          <label for='name'>NOMBRE:</label>
          <input type="text" name="name">
          </p>
          <p>
          <label for='name'>TELEFONO:</label>
          <input type="text" name="phone">
          </p>
          <p>
          <label for='email'>E-mail:</label>
          <input type="text" name="email">
          </p>
          <p>
          <label for='message'>CONSULTA:</label>
          <textarea name="message"></textarea>
          </p>
          <input type="submit" value="ENVIAR"><br>
          </form>

          script(type='text/javascript'). 
            var frmvalidator  = new Validator("contactform");
            frmvalidator.addValidation("name","req","Por favor, ingrese un nombre"); 
            frmvalidator.addValidation("phone","req","Por favor, ingrese un telefono"); 
            frmvalidator.addValidation("email","req","Por favor, ingrese un correo electronico"); 
            frmvalidator.addValidation("email","email","Por favor, ingrese un correo electonico VALIDO"); 
        ul.links
          <div class="fb-like" data-href="https://www.facebook.com/pages/Ideas-Eco-Publicidad/155866821248197" data-send="false" data-layout="button_count" data-width="10" data-show-faces="true" data-font="arial"></div>
          a(href="www.ideasecopublicidad.com.ar", title="Ideas ECO")
            span www.ideasecopublicidad.com.ar
          a.mail(href="mailto:ventas@ideasecopublicidad.com.ar", title="Mail Ideas ECO")
            span ventas@ideasecopublicidad.com.ar
          div.footer
  script(type='text/javascript').
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-38598480-2', 'ideasecopublicidad.com.ar');
    ga('send', 'pageview');
