- var title = 'Ideas ECO';
- var url = 'http://url.raiz.del.proyecto/';
doctype 5
html(lang="en")
  head
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans|Quicksand|Fjalla+One", rel="stylesheet", type="text/css")
    link(href="css/main.css", rel="stylesheet", media="screen")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0")
    meta(property="og:title", content="Ideas ECO")
    link(rel="shorcut icon", href="favicon.ico")
    link(href="antiscroll.css", rel="stylesheet")
    script(src="deps/jquery.js")
    script(src="deps/jquery-mousewheel.js")
    script(src="antiscroll.js")
    script
      $(function() {
        $('.antiscroll-wrap').antiscroll();
      });

body
  div.back
    img(src="images/background.jpg", alt="ideas eco")
  ul.menu
    li.membrete
    li.inicio
      a(href="newindex.html") INICIO
    li.que.current
      a(href="quees.html") QUE ES ideas ECO
    li.como
      a(href="como.html") COMO HACEMOS?
    li.contact
      a(href="contacto.html") CONTACTO
    li.tips
      a(href="tips.html") ECO TIPS

  div.container.box-wrap.antiscroll-wrap
    div.box
      div.page.quees.antiscroll-inner
        ul.enhanced
          li
            p.nom
              i Ideas Eco 
              | Publicidad es un 
              b soporte publicitario en bolsas de papel 
              | multiuso, es un medio nuevo, alternativo, diferente, efectivo para 
              | que los anunciantes plasmen su publicidad.
            p
              | Surge con el concepto y objetivo de 
              b concientizar 
              | del da&ntilde;o que provocan 
              | las bolsas de plastico y promover su paulatina sustituci&oacute;n por las 
              | de papel
            p
              | Al mismo tiempo, un soporte pr&aacute;ctico para el p&uacute;blico, por lo que su 
              b recepci&oacute;n se realiza con agrado 
              | y garantiza una forma eficaz de publicidad.
              | Las bolsas de papel son repartidas en forma 
              b gratuita 
              |entre los comerciantes de la ciudad.
        ul.enhanced
          h1 Por que ideas ECO es PUBLICIDAD EFECTIVA?
          li
            p
              | Porque el anunciante tiene garantizada la distribuci&oacute;n de las bolsas
              | ya que transportan algun producto que compramos en panader&iacute;as, farmacias,
              | ferreter&iacute;as y otros en la ciudad, donde se distribuyen solas, haciendo
              | mas efectiva ya que la publicidad no se pierde y llega al centro de la
              | mesa del hogar, haciendo que toda la familia la vea.
