- var title = 'Ideas ECO Publicidad - Su publicidad en manos de la gente todos los días';
- var url = 'http://ideasecopublicidad.com.ar';
- var description = 'Ideas Eco Publicidad es un soporte publicitario en bolsas de papel multiuso, es un medio nuevo, alternativo, diferente, efectivo para que los anunciantes plasmen su publicidad.'
doctype 5
html(lang="en")
  head
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Quicksand:400,700|Fjalla+One", rel="stylesheet", type="text/css")
    link(href="css/main.css", rel="stylesheet", media="screen")
    title #{title}
    meta(name="description", content= description)
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0")
    meta(charset="utf8")
    meta(property="og:title", content =  title )
    meta(property="og:url", content = url )
    meta(property="og:description", content = description )
    meta(property="og:image", content = "http://ideasecopublicidad.com.ar/css/images/inicio.png")
    link(rel="shorcut icon", href="favicon.ico")
    link(href="antiscroll.css", rel="stylesheet")
    script(src="deps/jquery.js")
    script(src="deps/jquery-mousewheel.js")
    script(src="antiscroll.js")
    script
      $(function() {
        $('.antiscroll-wrap').antiscroll();
      });

body
  <div id="fb-root"></div>
  script
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=623279617700062";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  div.back
    img(src="images/background.jpg", alt="ideas eco")
  ul.menu
    li.membrete
    li.inicio
      a(href="inicio.html") INICIO
    li.que.current
      a(href="quees.html") QUE ES ideas ECO
    li.como
      a(href="como.html") COMO HACEMOS?
    li.contact
      a(href="contacto.html") CONTACTO
    li.tips
      a(href="tips.html") ECO TIPS
    <div class="fb-like" data-href="https://www.facebook.com/pages/Ideas-Eco-Publicidad/155866821248197" data-send="false" data-layout="button_count" data-width="10" data-show-faces="true" data-font="arial"></div>

  div.container
    div.box
      div.page.quees
        ul.enhanced
          li
            p.nom
              i Ideas Eco 
              | Publicidad es un 
              b soporte publicitario en bolsas de papel 
              | multiuso, es un medio nuevo, alternativo, diferente, efectivo para 
              | que los anunciantes plasmen su publicidad.
            p
              | Surge con el concepto y objetivo de 
              b concientizar 
              | del da&ntilde;o que provocan 
              | las bolsas de plastico y promover su paulatina sustituci&oacute;n por las 
              | de papel
            p
              | Al mismo tiempo, un soporte pr&aacute;ctico para el p&uacute;blico, por lo que su 
              b recepci&oacute;n se realiza con agrado 
              | y garantiza una forma eficaz de publicidad.
              | Las bolsas de papel son repartidas en forma 
              b gratuita 
              |entre los comerciantes de la ciudad.
        ul.enhanced
          h1 Por que ideas ECO es PUBLICIDAD EFECTIVA?
          li
            p
              | Porque el anunciante tiene garantizada la distribuci&oacute;n de las bolsas
              | ya que transportan algun producto que compramos en panader&iacute;as, farmacias,
              | ferreter&iacute;as y otros en la ciudad, donde se distribuyen solas, haciendo
              | mas efectiva ya que la publicidad no se pierde y llega al centro de la
              | mesa del hogar, haciendo que toda la familia la vea.
   script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-38598480-2', 'ideasecopublicidad.com.ar');
    ga('send', 'pageview');
