- var title = 'Ideas ECO';
- var url = 'http://url.raiz.del.proyecto/';
doctype 5
html(lang="en")
  head
    link(href="css/main.css", rel="stylesheet", media="screen")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0")
    meta(property="og:title", content="Ideas ECO")
   link(rel="shorcut icon", href="favicon.ico")

body
  div.back
    img(src="images/background.jpg", alt="ideas eco")
  ul.menu
    li.membrete
    li.inicio
      a(href="newindex.html") INICIO
    li.que
      a(href="quees.html") QUE ES ideas ECO
    li.como
      a(href="como.html") COMO HACEMOS?
    li.contact
      a(href="contacto.html") CONTACTO
    li.tips.current
      a(href="tips.html") ECO TIPS

  div.container
    div.page.tips
      ul
        h1 
          | Todos los d&iacute;as descartamos cosas y no nos damos cuenta
          | que muchas de ellas pueden ser reutilizadas, mir&aacute;
      ul
        li.p1
          p Posafuentes con corchos y precintos met&aacute;licos
        li.p2
          p Mu&ntilde;eco de tela/lana con prendas que ya no usamos
        li.p3
          p Botellas, latas de cualquier material sirven como maceteros.
        li.p4
          p
            | Libros, revistas que no utilizamos pueden servir para armar
            |  banderines, m&oacute;viles y envolver regalos por ejemplo
        li.p5

