/*$main-font = "camingodos-web-1", "camingodos-web-2", sans-serif;*/

$p-fonts = 'Noto Sans', sans-serif;
$big-p-fonts = 'Quicksand', sans-serif;
$h1-fonts = 'Fjalla One', sans-serif;

$main-font = 'Noto Sans', 'Quicksand', "Arial", sans-serif;
