@import 'node_modules/nib'
@import 'deps/clean.styl'

/* component styles */
@import 'javascript/build/build.css'

/* absolut url srcs */
$host = "http://------definir.un.host-----/"

/* wrap dimmension */
$wrap_width = 960px

/* Layout */
$mainbar_height = 72px
$nav_hight = 120px

/* MOBILE Layout */
$mob_mainbar_height = 80px
$mob_nav_hight = 75px
$body_top = $mob_mainbar_height + $mob_nav_hight;
$body_content_port = 480 - $body_top

/* commons */
@import 'commons/colors.styl'
@import 'commons/fonts.styl'
@import 'commons/buttons.styl'

/* blocks */
@import 'footer.styl'
//@import 'header.styl'

*
  box-sizing: border-box
  *behavior: url( $host + 'css/boxsizing.htc')
  outline: none

body
  font-family: $main-font
  background-color: black
  color: $color-font
  overflow: hidden
  a
    color: $grey-light
    text-decoration: none
    font-family: $p-fonts
  h1
    color: $color-font
    font-size: 20px
    font-family: $p-fonts
    font-weight: bold
  p
  label
    font-family: $p-fonts
  b
  i
    font-weight: bold
  i
    color: green

  div.back
    img
      display: block
      height: auto
      width: 100%
      position: relative

  a.ingresar
    height: 300px
    width: 204px
    background-image: url('images/sprite3.png')
    position: absolute
    top: 50%
    margin-top: -150px
    margin-left: -102px
    left: 50%

  ul.menu
    width: 280px
    position: absolute
    top: 40px
    left: 40px
    z-index: 10
    li
      background-image: url('images/menu-sprite.png')
      text-indent: -9999px
      a
        display: block
        width: 100%
        height: 100%
      &.membrete
        height: 310px
      &.inicio
        height: 147px
        background-position: 0 -310px
        &.current
        &:hover
          background-position: 279px -310px
      &.que
        height: 65px
        background-position: 0 -456px
        &.current
        &:hover
          background-position: 279px -456px
      &.como
        height: 51px
        background-position: 0 -521px
        &.current
        &:hover
          background-position: 279px -521px
      &.contact
        background-position: 0 -571px
        height: 81px
        &.current
        &:hover
          background-position: 279px -573px
      &.tips
        background-position: 0 -652px 
        height: 85px
        &.current
        &:hover
          background-position: 279px -652px

  .box .antiscroll-inner
  .box
    height: 100%
    width: 580px

  div.container
    position: absolute
    left: 50.7%
    top: 0px
    overflow: hidden
    height: 100%

    div.page
      width:580px 
      margin-top: 60px 
      position: relative
      top: 50%
      ul
        background-image: url('images/bg-pix.png')
        background-repeat: repeat
        position: relative
        padding: 30px 0
        h1
          margin: 0 auto
          font-weight: bold
          font-size: 22px
          width: 300px
        &.enhanced
          &:before
            height: 37px
            width: 36px
            background-image: url('images/sprite.png')
            content: " "
            position: absolute
            top: 20px
            left: 15px
        &:last-child
          padding: 1px 0px 20px
          &.enhanced
            &:before
              top: 0px
        li
          position: relative
          width: 350px
          margin: 0 auto
        p
          width: 350px
          margin: 25px auto
          line-height: 20px
          text-align: center
        p.enhanced
          width: 80%
          border: 2px solid #96ba20
          padding: 10px
          margin: 0px auto
          font-size: 20px
          font-family: $big-p-fonts
          font-weight: 500

      &.inicio
        margin-top: -370px
        ul
          padding: 35px 0px
          li.inicio
            background-image: url('images/inicio.png')
            height: 460px
            width: 300px
            margin: 30px auto
      &.quees
        margin-top: -360px
        /*background-image: url('images/quees-back.png')*/
      &.como
        margin-top: -320px
        /*background-image: url('images/como-back.png')*/
        ul
          li
            padding: 20px 0px
            &:before
              height: 18px
              width: 18px
              background-image: url('images/sprite.png')
              content: " "
              position: absolute
              top: 24px
              left: -34px
              background-position: 0 -38px
            height: 60px
            line-height: 22px
            p
              margin: 0px
              line-height: auto
              text-align: left
          p.enhanced
            font-size: 16px
            font-weight: 600
          &:last-child
            padding: 30px 0px 50px

      &.tips
        margin-top: 0px
        top: 0px
        ul
          h1
            width: 330px
          &.enhanced
            &:before
              background-position: 0px -38px
              height: 18px
              width: 18px
              top: 33px
            p
              margin: 0 auto
              text-align: left
              font-size: 15px
              width: 460px
          li
            p
              background-color: #faf0d4
              width: 50%
              position: absolute
              top: 20px
              left: -20px
              border: 2px solid #96ba20
              padding: 10px
              margin: 0px
            width: 430px
            &.p1
              background-image: url('images/ecotips11.png')
              height: 538px
            &.p2
              background-image: url('images/ecotips12.png')
              height: 660px
            &.p3
              background-image: url('images/ecotips13.png')
              height: 574px
              div.botas
                background-image: url('images/sprite2.png')
                width: 89px
                height: 144px
                position: absolute
                right: -25px
                top: 100px
            &.p4
              background-image: url('images/ecotips14.png')
              height: 636px
            &.p5
              background-image: url('images/ecotips15.png')
              height: 430px
          p.enhanced
            font-size: 14px
            width: 72%
            font-weight: 600
            margin: 60px auto
            position: relative
            padding-bottom: 60px
            &:after
              height: 37px
              width: 36px
              background-image: url('images/sprite.png')
              content: " "
              position: absolute
              bottom: 20px
              left: 50%
              margin-left: -16px

      &.contact
        margin-top: -380px
        ul
          p.thanks
            padding: 200px 0
          h1
            font-size: 17px
            font-weight: bold
            width: 500px
            margin: 0 auto
            padding: 50px 0 0
            &:before
              display: none
          form
            font-size: 12px
            padding: 12px 0px
            width: 80%
            margin: 0px auto
            p
              font-size: 14px
              line-height: 16px
              text-align: left
              margin: 0px
              width: 100%
              label
                font-size: 14px
                display: block
              input
              textarea
                border: 0 none
                margin: 10px auto
                width:100%
                height: 20px
              textarea
                height: 149px
            input[type=submit]
              font-weight: bold
              font-size: 20px
              color:#565327
              display: block
              float: right
              font-size: 30px
              background-color: transparent
              border: 0px
              cursor: pointer
              padding: 0px
              font-family: $h1-fonts
        ul.links
          padding: 130px 0 20px 140px
          a
            font-weight: bold
            font-size: 20px
            color:#565327
            display: block
            line-height: 25px
          &:after
            content: " "
            background-image: url('images/sprite.png')
            height: 59px
            width: 80px
            position: absolute
            bottom: 30px
            left: 50px
            background-position: -36px 0px
        div.footer
          background-image: url('images/contact-back.png')
          height: 46px

@media only screen and (max-height : 800px)
  body

    .box .antiscroll-inner
    .box
      height: 100%
      width: 440px

    div.container
      left: 50.7%
      div.page
        width:440px 
        margin-top: 40px
        ul
          font-size: 14px
          p
            font-size: 14px
            margin: 13px auto
            width: 300px
          h1
            font-size: 16px
            &:before
              top: 15px
              left: 15px

        &.inicio
          margin-top: -260px
          ul li.inicio
            background-image: url('images/inicio2.png')
            height: 370px
            width: 240px
            margin: 10px auto
        &.quees
          margin-top: -330px
        &.como
          margin-top: -300px
          ul 
            li
              height: 50px
            li:before
              left: -25px
        &.tips
          ul
            &.enhanced
              p
                width: 360px
                font-size: 13px
            li
              width: 310px
              &.p1
                background-image: url('images/ecotips21.png')
                height: 388px
              &.p2
                background-image: url('images/ecotips22.png')
                height: 476px
              &.p3
                background-image: url('images/ecotips23.png')
                height: 413px
                div.botas
                  top: 100px
                  right: -25px
              &.p4
                background-image: url('images/ecotips24.png')
                height: 458px
              &.p5
                background-image: url('images/ecotips25.png')
                height: 310px

        &.contact
          height: 498px
          margin-top: -310px
          ul
            h1
              font-size: 14px
              width: 412px
              padding: 20px 0 0
          form
            width: 80%
            textarea
            .field-container input[type=text]
            .field-container input[type=email]
              border: 0 none
            textarea.consulta
                height: 130px
            a.enviar
              font-size: 24px
          ul.links
            padding: 20px 0 15px 105px
            a
              font-size: 16px
              line-height: 23px
            &:after
              left: 15px
              bottom: 5px

    ul.menu
      $h = 1.2727272727
      width: (280 / $h)px
      li
        background-image: url('images/menu-sprite2.png')
        &.membrete
          height: (310 / $h)px
        &.inicio
          height: (145 / $h)px
          background-position: 0px -245px
          &.current
          &:hover
            background-position: 219px -245px
        &.que
          height: (65 / $h)px
          background-position: 0 -358px
          &.current
          &:hover
            background-position: 219px -358px
        &.como
          height: (51 / $h)px
          background-position: 0 -410px
          &.current
          &:hover
            background-position: 219px -410px
        &.contact
          background-position: 0 -451px
          height: (81 / $h)px
          &.current
          &:hover
            background-position: 219px -451px
        &.tips
          background-position: 0 -512px
          height: (85 / $h)px
          &.current
          &:hover
            background-position: 219px -512px


