@import 'node_modules/nib'
@import 'deps/clean.styl'

/* component styles */
@import 'javascript/build/build.css'

/* absolut url srcs */
$host = "http://------definir.un.host-----/"

/* wrap dimmension */
$wrap_width = 960px

/* Layout */
$mainbar_height = 72px
$nav_hight = 120px

/* MOBILE Layout */
$mob_mainbar_height = 80px
$mob_nav_hight = 75px
$body_top = $mob_mainbar_height + $mob_nav_hight;
$body_content_port = 480 - $body_top

/* commons */
@import 'commons/colors.styl'
@import 'commons/fonts.styl'
@import 'commons/buttons.styl'

/* blocks */
@import 'footer.styl'
//@import 'header.styl'

*
  box-sizing: border-box
  *behavior: url( $host + 'css/boxsizing.htc')
  outline: none

body
  font-family: $main-font
  background-color: black
  color: white
  overflow: hidden
  a
    color: $grey-light
    text-decoration: none
  h1
    color: #fff
    font-size: 20px

  div.back
    img
      display: block
      height: auto
      max-height: 100%
      max-width: 100%
      width: 100%
      position: relative

  ul.menu
    width: 280px
    position: absolute
    height: 600px
    top: 40px
    left: 40px
    z-index: 10
    li
      background-image: url('images/menu-sprite.png')
      background-size: 200% auto 
      text-indent: -9999px
      a
        display: block
        width: 100%
        height: 100%
      &.membrete
        height: 310px
      &.inicio
        height: 145px
        background-position: 0 -310px
        &.current
          background-position: 100% -310px
        &:hover
          background-position: 100% -310px
      &.que
        height: 65px
        background-position: 0 -456px
        &.current
          background-position: 100% -456px
        &:hover
          background-position: 100% -456px
      &.como
        height: 51px
        background-position: 0 -521px
        &.current
          background-position: 100% -521px
        &:hover
          background-position: 100% -521px
      &.contact
        background-position: 0 -571px
        height: 81px
        &.current
          background-position: 100% -573px
        &:hover
          background-position: 100% -573px
      &.tips
        background-position: 0 -652px 
        height: 86px
        &.current
          background-position: 100% -652px
        &:hover
          background-position: 100% -652px
  div.container
    height: 100%
    width:580px 
    position: absolute
    left: 50.7%
    top: 0px
    overflow-y: visible
    overflow-x: hidden

    div.page
      top: 50%
      background-size: 100%
      text-indent: -99999px
      width:580px 
      position: relative
      height: 680px
      margin-top: -345px
      &.closed
        display: none
      &.inicio
        height: 615px
        background-image: url('images/inicio-back.png')
        margin-top: -290px
      &.quees
        background-image: url('images/quees-back.png')
      &.como
        background-image: url('images/como-back.png')
        height: 660px
      &.tips
        height: 3400px
        background-image: url('images/ecotips-back.png')
        margin-top: 0px
        top: 0px
      &.contact
        text-indent: 0px
        background-image: url('images/contact-back.png')
        h1
          font-size: 17px
          font-weight: bold
          color: #565327
          width: 500px
          margin: 0 auto
          padding: 50px 0 0
        form
          width: 80%
          margin: 20px auto 0px
          textarea
          .field-container input[type=text]
          .field-container input[type=email]
            border: 0 none
            margin: 10px auto
            width:100%
          textarea.consulta
              height: 150px
          a.enviar
            font-weight: bold
            font-size: 30px
            color:#565327
            float: right
